name: CI Prod

on:
  push:
    tags:
      - "metabase-1-yva-*"

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      SERVICE_NAME: yva-metabase-fork
      DOCKERFILE: ./Dockerfile
      CONTEXT: .
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Publish to Prod CR
        uses: elgohr/Publish-Docker-Github-Action@3.02
        with:
          name: ${{ env.SERVICE_NAME }}/${{ env.BRANCH_NAME }}
          username: ${{ secrets.DOCKER_DEV_CR_USER }}
          password: ${{ secrets.DOCKER_DEV_CR_PASSWORD }}
          registry: ${{ secrets.DOCKER_DEV_CR }}
          dockerfile: ${{ env.DOCKERFILE }}
          context: ${{ env.CONTEXT }}
          buildargs: BUILD_VERSION_SHORT