name: CI Dev

on:
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - 'master'

jobs:
  build:
    runs-on: ubuntu-20.04
    env:
      SERVICE_NAME: yva-metabase-fork
      DOCKERFILE: ./Dockerfile
      CONTEXT: .

    steps:

      - name: Checkout
        uses: actions/checkout@v2

      - name: Parse Git (dev)
        shell: bash
        run: |
          branh_name=$(echo ${GITHUB_REF#refs/heads/} | tr / -)
          echo "BRANCH_NAME=${branh_name}" >> $GITHUB_ENV
          echo "BUILD_VERSION_SHORT=${branh_name}:$(git rev-parse --short "$GITHUB_SHA")" >> $GITHUB_ENV
      - name: Publish to Dev CR
        uses: elgohr/Publish-Docker-Github-Action@3.02
        with:
          name: ${{ env.SERVICE_NAME }}/${{ env.BRANCH_NAME }}
          username: ${{ secrets.DOCKER_DEV_CR_USER }}
          password: ${{ secrets.DOCKER_DEV_CR_PASSWORD }}
          registry: ${{ secrets.DOCKER_DEV_CR }}
          dockerfile: ${{ env.DOCKERFILE }}
          context: ${{ env.CONTEXT }}
          tags: "latest"
          buildargs: BUILD_VERSION_SHORT